@model TabloidMVC.Models.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "GetTagsForPost";
}

<<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-8">
            <h3 class="mt-3 text-primary text-center card-title">What tag would you like to delete?</h3>
            <form class="mt-5 card-body" asp-action="GetTagsFromPostDetails">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input type="hidden" asp-for="Post.Id" class="form-control" />

                </div>
                <div class="form-group">
                    <select asp-for="Tag.Id" class="form-control">
                        <option value="">Select Tag</option>
                        @foreach (Tag tag in Model.Tags)
                        {
                            <option value="@tag.Id">@tag.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Tag.Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


