@model TabloidMVC.Models.ViewModels.DeactivateUserViewModel

@{
    ViewData["Title"] = "Activate";
}

<h1>Deactivate</h1>

@if (!String.IsNullOrEmpty(Model.ErrorMsg))
{
    <div class="alert alert-danger">@Model.ErrorMsg</div>
}
<h3>Are you sure you want to activate @Model.User.DisplayName?</h3>
<div>
    <form asp-action="Activate">
        <input type="submit" value="Activate" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
